<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
   <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
{{>header}}
   {{errorcomment}}
   {{>footer}}
</body>

</html>